# File .env – environment variables

# ==========================================================================================================
# ACCOUNT DATA
# ==========================================================================================================

ACCOUNT_FIRST_NAME={YOUR_FIRST_NAME}
ACCOUNT_LAST_NAME={YOUR_LAST_NAME}
ACCOUNT_E_MAIL={YOUR_E_MAIL}
ACCOUNT_TELEPHONE={YOUR_TELEPHONE}
ACCOUNT_FAX={YOUR_FAX}
ACCOUNT_COMPANY={YOUR_COMPANY}
ACCOUNT_ADDRESS_1={YOUR_ADDRESS_1}
ACCOUNT_ADDRESS_2={YOUR_ADDRESS_2}
ACCOUNT_CITY={YOUR_CITY}
ACCOUNT_REGION_STATE={YOUR_REGION_STATE}
ACCOUNT_ZIP_CODE={YOUR_ZIP_CODE}
ACCOUNT_COUNTRY={YOUR_COUNTRY}
ACCOUNT_LOGIN_NAME={YOUR_LOGIN_NAME}
ACCOUNT_PASSWORD={YOUR_PASSWORD}
ACCOUNT_SUBSCRIBE={YOUR_SUBSCRIBE}
